body {background-color: #c5ff91}
h1 {font-family: Monaco}
h2 {font-family: Monaco}
p {font-family: Marker Felt}
ul {list-style: none; }
a:link {lighting-color: 090808}
a:link {text-decoration: none}
a:hover {color: green;}
